<p>National Productivity Council (NPC) Delhi is a national level organization to promote productivity
    culture in India. Established as a registered society by the Govt. of India, it is an autonomous non-profit
    organization.</p> <br>
<p>NPC provide consultancy, training, seminar and undertake research in the area of productivity. NPC
    had got 13 Regional Offices in major state capitals including one at Bangalore and offices in various places
    including in Coimbatore and Mangalore.</p><br>
<p>Mangalore Productivity Council (MPC) was registered in 1960 under the Society Act, It is affiliated
    to NPC. MPC is conducting seminars and training programmes on various subjects, lecture meetings, like Finance,
    Economics, Productivity Management, Health Humour, Personality Development, H.R. etc. Our Lecturer meetings are
    conducted in Canara College, jail Road, Kodialbail, Auditorium at 5:00PM Sharp. It will be over by 7:00PM.
    <strong>Tea time: 4:30 to 5:00PM</strong>
</p><br>

<p>MPC is the best platform to update the knowledge on various subjects, for stress Management,
    Entertainment,contacting more members. Use the <strong>TEA TIME</strong> effectively to exchange your knowledge.
    Collect the visiting cards of chief guests to clarify you doubts.
</p>

<strong>PAN: AADAM1252E</strong>