.card {
    min-height: 250px;
    margin-bottom: 20px;

    .header-image {
        text-align: center;

        img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }
    }

    .title {
        margin: 8px 0;
        font-weight: bold;
    }

    .designation {
        font-size: 16px;
        color: black;
    }
}